<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danspeech | Requirements</title>

    {% load static %}

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" href="{% static 'milligram.min.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>

    <section class="container">
        <h1>
        Gældende vilkår for DanSpeech dataindsamlingen.
        </h1>

        <p><b>Effektiv fra d. 24. april 2019</b></p>
        <p>
        Gennem DanSpeech dataindsamlingen kan du donere din stemme, stemmeoptagelser og andre ressourcer, vi har brug for til at opbygge en open source-dansk taledatabase, som alle kan bruge til at lave innovative talegenkendelses løsninger.
        </p>

        <p>
        Du må kun deltage i DanSpeech dataindsamlingen, hvis du accepterer følgende vilkår.
        </p>

        <h3>
            <b>Støtteberettigelse</b>
        </h3>
        <p>
            DanSpeech dataindsamlingen er åben for alle over 18 år. Hvis du er 18 eller under, skal du have din forælder eller værgeres samtykke for at deltage i dataindsamlingen.
        </p>
        <h3>
            <b>Dine bidrag</b>
        </h3>
            Vi gør DanSpeech-databasen tilgængelig under Creative Commons CC0 public domain dedication <a href="https://creativecommons.org/licenses/by/2.5/dk/legalcode">(https://creativecommons.org/licenses/by/2.5/dk/legalcode)</a>.
            Det betyder, at dataet i databasen er offentligt, og vi giver afkald på alle ophavsrettigheder i det omfang, vi kan i henhold til loven. Hvis du deltager i DanSpeech dataindsamlingen, kræver vi, at du gør det samme.
            Du skal acceptere, at DanSpeech kan tilbyde alle dine bidrag (herunder tekst og optagelser) til offentligheden under CC0's offentlige domæne dedikation.
            For at kunne deltage i DanSpeech dataindsamlingen kræver vi også, at du stiller 2 garantier:

            <ul>
                <li> For det første, at dine bidrag er helt din egen skabelse. </li>
                <li> For det andet, at dine bidrag ikke krænker tredjeparts rettigheder. </li>
            </ul>

            Hvis du ikke kan stille disse garantier, kan du ikke deltage i DanSpeech dataindsamlingen
        </p>

        <h3>
            <b>
                Ansvarsfraskrivelser
            </b>
        </h3>
        <p>
            Ved at deltage i DanSpeech indsamlingen accepterer du, at DanSpeech på ingen måde hæfter for nogen form for manglende evne til at bruge stemmeoptagelser eller for ethvert krav som følge af disse vilkår.
            DanSpeech fralægger specifikt følgende ansvar: Indirekte, særlige, tilfældige, følgeskader eller eksemplariske skader, direkte eller indirekte, skader for tab af goodwill, arbejdsophør, tabt fortjeneste, tab af data eller skader ved computerfejl.
            Du accepterer at DanSpeech er fri for ethvert ansvar eller krav, der følger af din deltagelse i DanSpeech dataindsamlingen.
            DanSpeech leverer tjenesten "as is" og fralægger specifikt eventuelle juridiske garantier eller garantier som (men ikke begrænset til) "salgbarhed", "egnethed til et bestemt formål", "ikke-krænkelse" og garantier som følge af handel, brug eller handel.
        </p>

        <h3>
            <b>Opdateringer af vilkår</b>
        </h3>
        <p>
            DanSpeech kan beslutte at opdatere disse vilkår løbende.
            De opdaterede vilkår vil blive offentliggjort online her på siden. Hvis du fortsætter med at bruge stemmeoptagelserne i databasen efter at vi har indsendt opdaterede vilkår, accepterer du at acceptere, at du accepterer sådanne ændringer.
            Den effektive dato øverst på denne side er tilgængelig for at gøre det klart hvornår vi lavede den seneste opdatering.
        </p>

        <h3>
            <b>Gældende lovgivning</b>
        </h3>
        <p>
            Dansk lov finder anvendelse på disse vilkår. Disse vilkår er hele aftalen mellem dig og DanSpeech i forbindelse med DanSpeech dataindsamlingen.
        </p>

        <h3>
            <b>Note vdr. håndtering af dit data.</b>
        </h3>
        <p>
            Når DanSpeech (det er os) modtager information fra dig, gemmer vi dem på en server hosted af digital ocean.
        </p>
        <p>
            <b>Stemmeoptagelser.</b> Stemmeoptagelser kan
            være tilgængelige i DanSpeech-databasen til offentligt forbrug og brug under en
            Creative Commons Zero License <a href="https://creativecommons.org/licenses/by/2.5/dk/legalcode">(https://creativecommons.org/licenses/by/2.5/dk/legalcode)</a>.
        </p>

        <a href="/" class="button" style="margin:auto; display:block;">
            Tilbage til dataindsamlingen
        </a>

</section>

</body>
</html>