<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Kings of DTU">
    <title>DanSpeech | Recording App</title>

    <!-- Front end utils -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" href="{% static 'milligram.min.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">

    <!-- Recording utils -->
    <link rel="stylesheet" href="{% static 'video-js.min.css' %}" />
    <link rel="stylesheet" href="{% static 'videojs.wavesurfer.css' %}" />
    <link rel="stylesheet" href="{% static 'videojs.record.min.css' %}">

    <script src="{% static 'video.min.js' %}"></script>
    <script src="{% static 'RecordRTC.min.js' %}"></script>
    <script src="{% static 'adapter-latest.js' %}"></script>
    <script src="{% static 'wavesurfer.min.js' %}"></script>
    <script src="{% static 'wavesurfer.microphone.min.js' %}"></script>
    <script src="{% static 'videojs.wavesurfer.min.js' %}"></script>
    <script src="{% static 'safari-workaround.js' %}"></script>

    <script src="{% static 'videojs.record.min.js' %}"></script>

    <style>

    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }

    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    /* change player background color */
    #myAudio {
      background-color: #FFEEFF;
    }

    .center {
    margin-left: auto;
    margin-right: auto;
    display: block
    }
    </style>

</head>
<body>
    <main class="wrapper">
        <nav class="navigation">
				<section class="container">
					<a class="navigation-title" href="#home">
						<h1 class="title">DanSpeech</h1>
					</a>
					<ul class="navigation-list float-right">
						<li class="navigation-item">
							<a class="navigation-link" href="#info" data-popover>Info</a>
						</li>
						<li class="navigation-item">
							<a class="navigation-link" href="#kontakt" data-popover>Kontakt</a>
						</li>
					</ul>
				</section>
			</nav>
        <header class="header" id="home">
            <section class="container">
                <h1>
                    DanSpeech
                </h1>
                <p class="description">
                    Hjælp os med at indsamle data!
                </p>
            </section>

        </header>

        <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h1>Legal Requirements</h1>
            <p>
                For at vi kan indsamle data, så er du nød til at være indforstået med selve indsamlings processen.

                Det eneste vi gemmer er selve lydklippet, som du optager, samt den sætning du har optaget. Vi gemmer dine
                optagelser med det formål, at kunne evaluere vores tale-til-tekst toolkit. Vi distribuerer ikke dine optagelser
                til tredje parter.
            </p>
            <p>
                <b>BEMÆRK: Vores web app er under udvikling og på nuværende tidspunkt gemmer vi derfor ikke noget data.</b>
            </p>
            <p> Jeg er fuldt ud indforstået med ovenstående. <input type="checkbox" id="#accept" value="accepted"></p>

            <button onclick="resetpage()">Submit</button>
        </div>

        </div>
        <section class="container" id="recording">
            <h1>
                Data opsamling
            </h1>
            <p>
                    Optag følgende sætning:
            </p>
            <blockquote>
                <p>
                    <strong id="transcription" class="center">

                    </strong>
                </p>
            </blockquote>


            <!-- SAFARI STUFF
            <button id="btn-start-recording">Start Recording</button>
            <button id="btn-stop-recording" disabled>Stop Recording</button>
            <audio controls autoplay playsinline></audio>
            -->
            <audio id="myAudio" class="video-js vjs-default-skin center"></audio>
            </br>
            <input id="submitAudio" class="button-primary" type="submit" value="Send optagelse">

        </section>

        <section class="container" id="info">
            <h1 class="">
                Info
            </h1>
            <p>
                I vores Kandidat speciale på Danmarks Tekniske Universitet forsøger vi at lave et open-source toolkit til dansk talegenkendelse (DanSpeech). Mere
                specifikt, så er vi interesset i at DanSpeech skal kunne oversætte tale til tekst.
                DanSpeech skal være tilgængeligt for alle. Om det skal bruges i forbindelse med en virksomheds kommercielle
                produkter, diverse fritidsprojekter eller til undervisning er underordnet. Vi vil bare gerne sørge for at dansk
                tale genkendelse er tilgængeligt for dem der har lyst til at bruge det.
            </p>
            <p>
                Talegenkendelse er generelt set et svært problem, og selve præcisionen er meget afhængig af forskellige
                faktorer heriblandt mikrofonens kvalitet, personen og dialekt. For at vurdere DanSpeech i forbindelse med
                en stor variation af bl.a. ovenstående faktorer, så er vi interesseret i at indsamle et unikt datasæt
                bestående af mange forskellige personer og sætninger.
            </p>
            <p>
                Er du interesseret i at hjælpe? Så skal du bare optage sætningen der er givet i ovenstående sektion og
                indsende den til vores server. Det er rimelig simpelt og hurtigt, så hvis du har mod på det, er du velkommen
                til at indtaste flere sætninger.
            </p>

        </section>
        <section class="container" id="kontakt">
            <h1 class="">
                Kontakt
            </h1>
            <p>
                Er du interesseret i at høre mere om projektet? Eller har du spørgsmål til indsamlingen af data? Så kan du kontakte os på en af følgende emails.
            </p>
            <p>
                <i>Rasmus Arpe Fogh Jensen</i>  </br> <a href = "mailto: s134843@student.dtu.dk">s134843@student.dtu.dk</a>
            </p>
            <p>
                <i>Martin Nielsen</i> </br> <a href = "mailto: s123106@student.dtu.dk  ">s123106@student.dtu.dk</a>
            </p>
             <div class="row">
                <div class="column">
                    <p>

                    </p>
                    <p>

                    </p>
                </div>
                <div class="column"></div>
                <div class="column"></div>

            </div>
        </section>

    </main>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

    <script>
        {% include 'danspeech.js' %}
    </script>
</body>
</html>